.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 1rem;
  margin-left: 20px;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.25rem;
  font-weight: bold;
}
.label:hover {
  cursor: pointer;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 0.5rem 1rem;
  background-color: rgb(2, 186, 36);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  padding: 0.5rem 1rem;
  background-color: rgb(0, 142, 26);
  color: rgb(236, 245, 3);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
